# Please edit this file and rename to "./monitrc"

set daemon 5
set httpd
    port 8080
#   allow guest:guest readonly
    allow md5 /etc/htpasswd

set mail-format { from: monit@example.com }
set mailserver
    mail.example.com
    username ""
    password ""
    using ssl

# not on { instance } because it will email you every time you restart the container
set alert admin@example.com but not on { instance }
set alert your-10d-number@sms-gateway.com but not on { instance }

check host GoogleDNS address google-public-dns-a.google.com
    if failed ping4 then alert

check host Gmail-SMTP address smtp.gmail.com
    if failed port 25 protocol smtp then alert

check host Gmail-IMAPS address imap.gmail.com
    if failed port 993 protocol imaps then alert

check host Gmail-WWW address gmail.com
    if failed
        port 443
        and certificate valid > 10 days
        protocol https
    for 3 cycles
    then alert

check host www.example.com address www.example.com
    if failed
        port 443
        and certificate valid > 10 days
        proto https
        request "/status.php"
        status = 200
    for 3 cycles
    then alert

check host Freenode-IRC address irc.freenode.org
    every 24 cycles
    if failed
        port 6667
        expect ".* NOTICE AUTH .*Found your hostname"
        send "NICK monit_test1\r\n"
        send "USER monit_test1 8 * : Monit\r\n"
        expect ".* 001 monit_test1 .*"
        send "PING :irc.example.com\r\n"
        expect ".* PONG .*"
        send "QUIT\r\n"
        timeout 30 seconds
    for 2 cycles
    then alert
    alert irc-admin@example.com
